body{
    overflow-y: scroll;
    overflow-x: hidden;
}
.landing{
    background-image: url(https://i.pinimg.com/originals/83/75/39/8375390d41aa92a47bed9c5f4fb410ea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 0;
}
.landing h1 {
    font-size: 4.5em;
    color: #5907a5f5;
    background-image: none;
    background-color: transparent;
    font-size: 55px;
    text-align: center;
    background-color: black;
    padding: 30px;
    padding-top: 0;
    font-family: serif;
  }

.landing p{
    font-size: 30px;
    padding-right: 50%;
    padding-top: 20PX;
  }

/* about us section */
.about h1{
    text-align: center;
    font-size: 40px;
    font-family: serif;
    padding-top: 5%;
}
.about p{
    font-size: 25px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: serif;
}

/* services section */
.services h1{
    text-align: center;
    font-size: 40px;
    font-family: serif;
    padding-top: 5%;
}
.services h4{
    font-family: serif;
    font-size: 25px;
    padding-left: 33%;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-left: 3%;
    margin-right: 3%;
}
.row img{
    width: 300px;
    height: 300px;
    background: #000000;
    opacity: 0.25;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;

}
.row h2{
    font-family: 'Raleway', Arial, sans-serif;
}
.row figcaptio{
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
    transform: rotate(0deg) translateY(-50%) scale(1);
    -webkit-transform-origin: center 0;
    transform-origin: center 0;
}
